<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>E-bookopolis</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/blog_details_style.css" rel="stylesheet" />
        <link href="css/common_style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="#!">E-bookopolis</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <form class="nav-link" action="/user/home" method="POST">
                                <button class="btn btn-outline-dark menu-button" type="submit">
                                  Home
                                </button>
                            </form>
                           <li class="nav-item">
                               <form class="nav-link" action="/user/order_history" method="POST">
                                    <button class="btn btn-outline-dark menu-button" type="submit">
                                     Order History
                                    </button>
                               </form>
                           </li>
                           <li class="nav-item">
                               <form class="nav-link" action="/user/author" method="POST">
                                    <button class="btn btn-outline-dark menu-button" type="submit">
                                     Authors
                                    </button>
                               </form>
                           </li>
                           <li class="nav-item">
                               <form class="nav-link" action="/user/publisher" method="POST">
                                    <button class="btn btn-outline-dark menu-button" type="submit">
                                     Publishers
                                    </button>
                               </form>
                           </li>
                           <li class="nav-item">
                               <form class="nav-link" action="/user/blog" method="POST">
                                    <button class="btn btn-outline-dark menu-button" type="submit">
                                     Blog
                                    </button>
                               </form>
                           </li>
                        </ul>
                        <form class="d-flex" action="/user/user_profile" method="POST">
                            <button style="border: none; background: none;" type="submit">
                                <div class="greeting">Hello, <%=username %></div>
                            </button>
                        </form>
                        <form class="d-flex" action="/user/cart" method="POST">
                            <button class="btn btn-outline-dark menu-button"  type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill"><%=cartAmount%></span>
                            </button>
                        </form>
                        <form class="nav-link" action="/user/wishlist" method="POST">
                            <button class="btn btn-outline-dark menu-button" type="submit">
                             <i class="fa-solid fa-heart"></i>
                             <span class="badge bg-dark text-white ms-1 rounded-pill"><%=wishlistAmount%></span>
                            </button>
                        </form>
                        <form class="nav-link" action="/user/search_page" method="POST" style="padding:0 0 0 0;">
                            <button class="btn btn-outline-dark menu-button" type="submit">
                             <i class="fas fa-search"></i>
                            </button>
                        </form>
                        <form class="nav-link" action="/user/logout" method="POST">
                            <button class="btn btn-outline-dark menu-button" type="submit">
                             Log Out
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <header class="bg-dark banner">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">E-bookopolis</h1>
                    <p class="lead fw-normal text-white-50 mb-0">A Utopia Of Books</p>
                </div>
            </div>
        </header>
        <div style="text-align: center; font-size: 50px;">Blog Details</div>
        <!-- Section-->
        <div class="card-container">
             <div class="cart">
                    <% var date = blogData.rows[0][5] %>
                    <% var dd = String(date.getDate()).padStart(2, '0') %>
                    <% var mm = String(date.getMonth() + 1).padStart(2, '0') %>
                    <% var yyyy = date.getFullYear() %>
                    <% var h = String(date.getHours()).padStart(2, '0') %>
                    <% var m = String(date.getMinutes()).padStart(2, '0') %>
                    <% var s = String(date.getHours()).padStart(2, '0') %>
                    <% date = dd + '/' + mm + '/' + yyyy + '  ' + h + ':' + m + ':' +s %>

                    <div class="card ">
                        <div class="blog-body">
                            <div class="blog-head">
                                <span>Writer: <%= blogData.rows[0][2] %></span>
                                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                <span>Postdate: <%= date %></span>
                            </div>
                            <div class="blog-title">
                                <%= blogData.rows[0][3] %>
                            </div>
                            <div class="blog-content">
                                <%= blogData.rows[0][4]%>
                            </div>               
                        </div>                              
                    </div>
            </div>
        </div>

        <div style="text-align: center; font-size: 50px;">Comments</div>
            <div style="margin-bottom: 25px;"></div>

            <% for (var i = 0; i < blogComment.rows.length; i++) { %> 

            <% var date = blogComment.rows[i][3] %>
            <% var dd = String(date.getDate()).padStart(2, '0') %>
            <% var mm = String(date.getMonth() + 1).padStart(2, '0') %>
            <% var yyyy = date.getFullYear() %>
            <% var h = String(date.getHours()).padStart(2, '0') %>
            <% var m = String(date.getMinutes()).padStart(2, '0') %>
            <% var s = String(date.getHours()).padStart(2, '0') %>
            <% date = dd + '/' + mm + '/' + yyyy + '  ' + h + ':' + m + ':' +s %>

            <div class="review-box">
                <div class="review-heading">
                    <div class="review-heading-text">
                        <%= date %>   
                    </div>
                </div>
                <div class="review-main">
                    <div class="review-user"><%= blogComment.rows[i][2] %></div>
                    <div class="review-main-text">
                    <%= blogComment.rows[i][4] %>
                    </div>
                </div>            
            </div>
            <% } %>

        <div class="card-container">
            <div class="cart">
            <div class="card ">
                <div class="card-body ">
                    <div style="text-align:center;height: 10px;">
                        <h5 class="fw-bolder"> Write A Comment </h5>
                    </div>
                
                <form action="/user/blog_comment/submit" method="POST">
                  <div align="center">
                  <textarea name="commentText" class="textBox" placeholder="Write a Comment..." required></textarea>
                  </div>
                  <input type="hidden" name="blogID" value="<%=blogData.rows[0][0]%>" />
                  <div class="text-center"><button class="btn btn-outline-dark submit-button" type="submit">
                    Submit
                  </button></div>
                </form>
        </div> 
        </div> 
        </div>
        </div>
        <div style="margin-bottom: 50px;"></div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
        <script type="text/javascript">          
            document.addEventListener("DOMContentLoaded", function (event) {
                var scrollpos = sessionStorage.getItem('scrollpos');
                if (scrollpos) {
                    window.scrollTo(0, scrollpos);
                    sessionStorage.removeItem('scrollpos');
                }
            });

            window.addEventListener("beforeunload", function (e) {
                sessionStorage.setItem('scrollpos', window.scrollY);
            });
        </script>

    </body>
</html>
